.homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
    padding-left: 50px;
}

.hoodie img {
    height: 500px;
    width: 55%;
    margin-left: 120px;
}

.title {
    color: blue;
    font-size: 50px;
}

.title1 {
    color: rgb(230, 23, 68);
    font-size: 40px;
}

.details p {
    color: black;
    font-size: 18px;
}

.customerReview {
    margin-top: 20px;
    text-align: center;
    color: brown;
}

.review-container {
    display: grid;
}

.reviewButton {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 50px;
}